@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0f;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 2px;
}
